@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: #F1F4F9;
  font-family: 'Poppins', 'serif';
}

.gradient-text {
  background: linear-gradient(135deg, #F2C94C, #F4B740);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
}

body {
  color: white;
}

/* styles.css */
.search-input {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c6c6c;
}

::-webkit-scrollbar {
  width: 0.3rem;
  background: #ffffff;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 0.6rem;
  z-index: -99;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8c8c8c;
  border-radius: 1rem;
}
