@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  color: black;
  background: white;
}

.gradient_text {
  background: linear-gradient(0deg, #7C7C7C , #FFB800 40%);
  -webkit-background-clip: text; /* For Safari */
  -webkit-text-fill-color: transparent; /* For Safari */
  color: #FFB800; /* Fallback for other browsers */
}

.gradient_two {
  background: linear-gradient(45deg, #000000 0%, #383838 100%);
}